@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
.container {
    background: #F2F2F2;
}
.wrapper {
    max-width: 1220px;
    margin: 0 auto;
}
.second-title {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin-bottom: 50px;
    text-align: center;
}
.menu {
    display: flex;
    justify-content: space-between;
    background: #313131;
}
.menu-logo {
    display: flex;
    align-items: center;
}
.menu-logo {
    padding-left: 30px;
    text-decoration: none;
}
.menu-title {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding-left: 28px;
}
.menu-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.menu-item {
    margin-right: 35px;
}
.item-last {
    padding-right: 0;
}
.menu-link {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.menu-hover:hover {
    color: #14B9D5;
}
.menu-search {
    padding: 27px 26px;
    background: #000000;
}
.present-info {
    background-image: url("../images/section-header/header-bg.jpeg");
    background-position: center;
    text-align: center;
    padding: 163px 0 74px;
}
.header-title {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 44px;
}
.header-button {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding: 16px 19px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.btn-subscribe {
    margin-right: 20px;
    background: #89CA62;
}
.btn-articles {
    background: #14B9D5;
}
.posts {
    text-align: center;
    padding: 50px 0 72px 0;
}
.posts-gallery {
    max-height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
}
.posts-gallery-item {
    background: #FFFFFF;
    margin-bottom: 30px;
}
.posts-gallery-img {
    width: 370px;
}
.posts-gallery-undertitle {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 21px 15px ;
}
.clients {
    background-image: url("../images/section-clients/bg-clients.jpeg");
    background-position: center;
    text-align: center;
    padding: 106px 0 191px;
}
.clients-title {
    display: grid;
    grid-row-gap: 87px;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 106px;
}
.clients-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin: 0 auto;
}
.clients-logos {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}
.clients-logos-img {
    margin-right: 58px;
}
.logo-last {
    margin-right: 0;
}
.rated {
    text-align: center;
    padding: 49px 0 48px;
}
.rated-gallery {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
.rated-gallery-img {
    width: 100%;
}
.news {
    padding-bottom:71px;
}
.news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 45px;
    grid-column-gap: 60px;

}
.news-information {
    display: grid;
    align-content: center;
    grid-row-gap: 14px;
    text-align: center;
    padding: 12px 14px 0 14px ;
    background: #F9F7F7;
}
.news-information-biggest {
    text-align: right;
    padding: 0 24px 0 0;
}
.news-information-small {
    padding: 0;
}
.news-title {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.news-title-half {
    text-align: right;
}
.news-text {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}
.bottom-title {
    text-align: center;
    padding: 14px 27px 11px;
}
.item-biggest-left {
    display: grid;
    grid-auto-flow: column;
    grid-column: 1 / 4;
}
.item-biggest-right {
    display: grid;
    grid-auto-flow: column;
    grid-column: 2 / 5;
}
.item-half-left {
    width: 554px;
    grid-column: 1 / 3;
}
.item-half-right {
    width: 554px;
    grid-column: 3 / 5;
}
.item-small-right {
    grid-column: 4 / 5;
}
.item-small-left {
    grid-column: 1 / 2;
}
.bottom-information {
    background: #000000;
    padding: 30px 0;
}
.bottom-copyright {
    font-family: Open Sans, sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.bottom-content {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.bottom-logo-container {
    display: grid;
    grid-auto-flow: column;
}
.bottom-logo-text {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 13px;
    color: #FFFFFF;
    text-transform: uppercase;
}